body {
    font-family: Arial, sans-serif;
    background-image: url(IMG-20231027-WA0037.jpg); 
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #00ff59;
    color: white;
    
}
button:hover {
    background-color: #044823;
}
.output {
    margin-top: 20px;
    font-size: 18px;

}
base {
    display: block;
    text-align: end;
    color:white;
    animation: forwards;
}
p:hover{
    motion: auto;
}